
body {
  text-align: center;
  position: relative;
  background-image: url('img/dnlyvbf.gif');
 }

#page-wrap {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

#submit_message {
 color: #FF00FF;
 font-size: 10;
 width: 80px;
 height: 20px;
 border: black;
 margin: 0;
 padding: 10;
}

#message_box {
  position: relative;
  top: 50%;
  text-align: center;
}

#all_messages {
  color: black;
  position: relative;
  top: 50%;
  text-align: center;
  border: black;
}
