
<head>
  <script src='js/app.js'></script>
</head>
  <h1>
    <input id ='message_box' type='text' name='content'>
    <input id ='submit_message' type='submit' name='submit message'>
  </h1>
<body>
  <p id ='all_messages'>
  </p>
<script> createButtonListener()</script>
</body>
