<!DOCTYPE html>
<html>
  <title>Illuminati Messageboard</title>
<head>
  <script src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <%=yield%>
</body>
</html>
